[submodule "FloRelC-sx1278/pigpio"]
	path = FloRelC-sx1278/pigpio
	url = https://github.com/joan2937/pigpio.git
[submodule "FloRelC-sx1278/sx1278-LoRa-RaspberryPi"]
	path = FloRelC-sx1278/sx1278-LoRa-RaspberryPi
	url = https://github.com/scollet1/sx1278-LoRa-RaspberryPi.git
